@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* CSS Document */
body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}
section {
	display:grid;
	margin-bottom:0.1em;	
}
article h1 {
	margin: 1rem 1rem 0rem 1rem;
	text-transform: uppercase;
}
/* NAV */
nav {
margin-bottom:0.1em;
font-family: 'Lato', sans-serif;
}
nav ul {
list-style-type:none;
margin:0;
padding:0;
display:flex;
}
nav li { flex-grow: 1; }
nav a {
display: block;
padding: 1em;
text-align: center;
text-decoration: none;
color: #000000;
border: solid 1px #424242;
transition: all 0.5s;
text-transform: uppercase;
}
nav a:hover {
background-color:#4fc3f7;
}
footer {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	color: #FFFFFF;
	background-color: #666;
	padding: 0.3rem;
	padding-left: 2.2em;
}

@media (orientation: landscape) {
section {
	grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
}

nav ul {
	flex-direction: row;
}
a {
	margin-right:0.2em;
}
}
@media (orientation: portrait) {
section {
	grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
nav ul {
	flex-direction: column;
}
nav a {
	margin-bottom:0.2em;
}
}
